!!!5
%html{ lang: 'en' }
  %head
    %link{ href: stylesheet_path('application'), rel: 'stylesheet' }
    %script{ src: javascript_path('application') }
    %script{ src: 'https://api.trello.com/1/client.js?key=64b59fd7744b9bc5b2a7259d6bced78d' }
    %title Reportrello
  %body
    = styled_flash
    = haml :'shared/menu', layout: false
    = yield